/** Set ids using widget.getElement().setId("idOfElement") */
/*SEITENAUFBAU*/
html {
	background-image: url("/images/backgroundimg.jpg");
	background-repeat: repeat;
	background-size: cover;
	font-family: 'Encode Sans Condensed', cursive;
}

body {
	background: transparent !important;
}

.tbody, tfoot, thead, tr, th, td {
	vertical-align: middle !important;
}
#contentReport {
	overflow: scroll;
    width: 89%;
    height: 650px;
	display: inline-block;
	border: 2px solid black;
	box-shadow: 3px 2px 2px grey;
    position: absolute;
    left: 5.4%;
    background-color: aliceblue;
}

#contentReport table {
	width: 100%;	
}

#header {
	height: 80px;
	width: 89.5%;
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 20px;
	border: 2px solid black;
	background: linear-gradient(to bottom, #3399ff 0%, #99ccff 100%);
	box-shadow: 5px 5px 2.5px grey;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headline {
	font-size: 4em;
	color: white;
	font-family: 'Encode Sans Condensed', Arial;
	font-weight: 100;
	padding: 15px;
	text-shadow: 1px 1px cornflowerblue;
	letter-spacing: 0.08em;
}

#logo {
	background-image: url("/images/logo.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	width: 100px;
	background-size: 80%;
	margin-right: 15px;
}

#menubar {
	height: 40px;
	width: 89.5%;
	margin-top: 5px;
	margin-left: 5%;
	margin-bottom: 10px;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 2.5px grey;
}

#menubar table tbody tr td:nth-child(2) {
    width: 100%;
}

#menubar .menuBarLabelContainer {
	height: inherit;
	display: inline-block;
	margin-left: 5px;
}

#menubar .menuBarLabel {
	padding-top: 6px;
	padding-left: 10px;
	width: 12em;
	font-size: 1.7em;
	color: #606060;
	display: inline-block;
}

#leftmenutree {
	height: 650px;
	width: 15%;
	display: inline-block;
	border: 2px solid black;
	margin-left: 5%;
	margin-right: 1%;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 2px 2px grey;
}

.logoutBarContainer {
	position: relative;
	z-index: 99;
	width: 100px;
}

#leftmenutree table {
	width: 100%;
}

#leftmenu .headline {
	font-size: 1.8em;
}

#content {
	height: 650px;
	width: 73.3%;
	display: inline-block;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 2px 2px grey;
	overflow: auto;
}

.kontaktDecoratorPanel {
	position: absolute;
	top: 205px;
	left: 640px;
	border-radius: 12px;
	width: 1px;
	line-height: 1px;
	border: 2px solid #bbb;
	font-size: 1px;
}

#content .headline {
	font-size: 2.5em;
	width: 100%;
	margin: 20px auto;
	text-align: center;
	color: grey;
	font-weight: bold;
}

#footer {
	height: 40px;
	width: 89.5%;
	margin: 10px auto;
	border: 2px solid black;
	background: linear-gradient(to top, #3399ff 0%, #99ccff 100%);
	box-shadow: 5px 5px 2.5px grey;
}

#footer .footerPanel {
	height: inherit;
	float: right;
	color: aliceblue;
	opacity: 0.75;
}

#footer .footerPanel table tbody tr td {
	width: auto;
	height: inherit;
	float: right;
}

/* TEXT FORMATIERUNGEN */
.landingPageWelcomeMessage {
	font-size: 3.0em;
	font-weight: bold;
	color: #535353;
	text-align: center;
	font-family: 'Encode Sans Condensed', bold;
	letter-spacing: 0.5px;
}

.landingPageLoginMessage {
	margin-top: 40px;
	font-family: 'Encode Sans Condensed', cursive;
	text-align: center;
	font-size: 1.8em;
	color: #777777;
}

.h2 {
	font-size: 1.3em;
	margin: 10px 0px 5px 10px;
	color: #3d3d3d;
	font-family: 'Encode Sans Condensed', cursive !important;
	font-weight: 500;
	font-size: 1.5em;
}

.h3 {
	font-size: 1.3em;
	margin: 10px 0px 5px 0px;
	color: #3d3d3d;
	font-family: 'Encode Sans Condensed', cursive !important;
	font-weight: 500;
	font-size: 1.5em;
}

.labelSize1 {
	font-size: 1.1em;
	margin-right: 5px;
}

.kontaktFormText {
	margin-right: 10px;
	font-size: 1.2em;
}

.landingpageText {
	text-align: center;
	font-size: 1.2em;
}

.navigationPanelHeadline {
	font-size: 1.7em;
	font-weight: bold;
	color: #494949;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Encode Sans Condensed', cursive;
}

.teilhaberschaftLabel {
	font-size: 1.2em;
	font-family: 'Encode Sans Condensed', cursive !important;
	font-weight: 400;
}

/** WIDGET & PANEL FORMATIERUNGEN*/
.loginPanel {
	width: 100%;
	margin-top: 20px;
}

.loginPanel td {
	text-align: center !important;
}

.menuBarContainerFlowPanel {
	width: 90%;
}

.kontaktlistenViewPanel {
	width: 250px;
	height: 500px;
	margin-left: 1em;
	margin-top: 2em;
}

.cellListWidgetContainerPanel {
	width: 80%;
	height: auto;
	margin-left: 1em;
	margin-top: 2em;
}

.cellListWidgetContainerPanel table {
	width: 100%;
}

.kontaktCellTableView {
	margin-left: 20px;
	margin-top: 20px;
}

.kontaktFormView {
	margin-top: 40px;
	margin-bottom: 40px;
}

.headlinePanel {
	width: 100%;
	height: auto;
	font-size: 2em;
}

.dialogVPanel {
	margin: 5px;
}

.clientAuswahlPanel {
	margin: 30px auto;
}

.treeContainerPanel {
	height: 580px;
	overflow: scrollable;
}

.centerPanel {
	margin: 2px auto;
}

.teilhaberschaftVerwaltungPanel {
	width: 70%;
	height: auto;
	margin-left: 2em;
	margin-top: 2em;
}

.teilhaberschaftVerwaltungPanel table {
	width: 100%;
}

.kontaktFormPanel {
	width: 40%;
	height: auto;
	margin-left: 2em;
	margin-top: 2em;
}

.kontaktFormPanel table {
	width: 100%;
}

.buttonPanelBox {
	margin: auto auto;
}

.buttonPanelBox table tbody tr td:last-child {
	width: inherit;
	margin: auto auto;
	display: table;
}

.disclosureSearchPanel {
	margin-left: 1.3em;
	margin-top: 1.5em;
	width: 60%;
}

.disclosureSearchPanel {
	margin-left: 1.3em;
	margin-top: 1.5em;
	width: 60%;
}


/* REPORT GENERATOR FORMATIERUNG */
.listbox-report {
	position: relative;
	width: 200px;
	padding: 10px;
	margin: 0 auto;
	color: #fff;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	background: darkgrey;
	border: double;
}

/* BUTTON FORMATIERUNGEN */
.impressumButton {
	background: none;
	color: aliceblue;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	padding-left: 4px;
}

.addButton {
	text-align: center;
	margin-left: 10px;
	border-radius: 80px;
	width: 33px;
	height: 30px;
}

.addButton:hover {
	transform: scale(1.02);
}

.searchTextBox {
	background-image: url("/images/search.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-color white;
	height: 25px;
	width: 200px;
	font-size: 1.1em;
	margin-right: 25px;
	float: right;
	border: none !important;
	box-shadow: 0px 0px 3px #96A1BD !important;
	font-family: 'Ubuntu', sans-serif !important;
}

.searchTextBox:hover {
	background-size: 12.5%;
	box-shadow: 0px 0px 8px #96A1BD !important;
}

.kontaktFormTextBox {
	background-color white;
	height: 25px;
	width: 200px;
	font-size: 1.1em;
	margin-right: 25px;
	float: left;
	border: none !important;
	box-shadow: 0px 0px 3px #96A1BD !important;
}

.kontaktFormTextBox:hover {
	box-shadow: 0px 0px 8px #96A1BD !important;
}

.detailSearchTextbox {
	margin-left: 15px;
	height: 20px;
}

.detailSearchTextbox:hover {
	transform: scale(1.01);
}

.loginButton {
	background: linear-gradient(to right, #3399ff 40%, #0099ff 100%);
	width: 140px;
	height: 50px;
	border-radius: 6px;
	border: 2px solid #2079ff;
	box-shadow: 0 3px #999;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 21px;
	font-family: 'Ubuntu', sans-serif;
	padding: 8px 0px 8px 0px;
	text-align: center;
	margin-top: 4.5%;
	opacity: 0.7;
}

.loginButton:hover {
	opacity: 1;
	transform: scale(1.02);
}

#closeButton {
	margin: 15px 6px 6px;
}

.viewProfileIcon {
	height: 20px;
	background-image: url("/images/eye.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	height: 25px;
	width: 25px;
	border: 0px;
}

.viewProfileIcon:hover {
	transform: scale(1.1);
}

.centerTextDialogBox {
	text-align: center;
}

/* .GWT WIDGET FORMATIERUNGEN */


.shareImageIndicator {
	width: 20%;
	position: relative;
	margin-right: 100px;
	opacity: 0.7;
}


.gwt-DialogBox .Caption {
	background: white;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
	text-align: center;
}

.gwt-DialogBox {
	max-width: 500px;
	height: auto;
}

.gwt-DialogBox .dialogContent {
	width: auto;
	margin: auto auto;
	padding: 20px 20px 20px 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 15px;
	background: white;
	margin-left: 40px;
}

.gwt-DialogBox .dialogMiddleCenterInner table tbody tr {
	display: table;
	margin: auto auto;
	width: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner table table {
	width: 100%;
}

.gwt-DialogBox .dialogMiddleCenterInner table tbody tr:last-child {
	display: table;
	margin: auto auto;
}

.gwt-Button {
	font-size: 1em;
	width: 100px;
	border-radius: 6px;
	border: 1px solid #d9d9d9 !important;
	cursor: pointer;
	color: #2c2c2c !important;
	background-color: whitesmoke !important;
	padding: 6px 0px 6px 0px !important;
	text-shadow: 0px 1px 1px #ffffff !important;
	text-align: center;
	background-image: none !important;
	margin-right: 5px !important;
	box-shadow: 1px 1px #999;
}

.gwt-Button:hover {
	transform: scale(1.02);
	box-shadow: inset 1px 1px 1px 1px #f2f2f2 !important;
	background-color: white !important;
}

.reportButton {
	font-size: 0.8em !important;
	font-weight: normal !important;
	width: auto;
	border-radius: 6px;
	border: 1px solid #d9d9d9 !important;
	cursor: pointer;
	color: #2c2c2c !important;
	background-color: whitesmoke !important;
	padding: 6px 5px 6px 5px !important;
	text-shadow: 0px 1px 1px #ffffff !important;
	text-align: center;
	background-image: none !important;
	margin-right: 5px !important;
	box-shadow: 1px 1px #999;
}

.reportButton:hover {
	transform: scale(1.02);
	box-shadow: inset 1px 1px 1px 1px #f2f2f2 !important;
	background-color: white !important;
}

.gwt-SuggestBox {
	margin-left: 20px;
	display: inline-block;
	vertical-align: baseline;
	background-color white;
	height: auto;
	width: auto;
	font-size: 1.1em;
	border: none !important;
	box-shadow: 0px 0px 3px #96A1BD !important;
}

.gwt-SuggestBoxPopup {
    background-color: white;
    border-radius: 8px;

}

.reportButton {
	width: auto;
	border-radius: 6px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	background-color: #e9e9e9;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 12px 8px 12px;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
	margin-left: 5px;
	margin-top: 4.5px;
	vertical-align: super;
}

.reportButton:hover {
	transform: scale(1.02);
	box-shadow: inset 0 0 0 1px #f2f2f2;
	border: 1px solid #f2f2f2;
	background-color: #f3f3f3;
}

.reportButtonFloat {
	float: right;
	margin-right: 10px;
}


.menuBarImage {
	background-image: url("/images/arrow_down.svg") !important;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 15px;
	background-position-x: 96%;
}

.menuBarAlignRight {
   width: 100%;
   background: none;
   border: none;
}

.gwt-MenuBar table {
	height: inherit;
}

.gwt-MenuBar {
   cursor: pointer !important;
}

.gwt-MenuBar .gwt-MenuItem {
   cursor: pointer !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-size: 14px;
   font-weight: 500 !important;
}

.gwt-MenuBar .gwt-MenuItem-selected {
   background-color: #eeeeee!important;
   background-image: none !important;
}

.gwt-MenuBar-horizontal {
	background: none !important;
	border: none !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
   padding: 5px 17px !important;
   vertical-align: bottom;
   color: #494949;
   line-height: 25px;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
   width: 1px;
   padding: 0px;
   margin: 0px;
   border: 0px;
   border-left: 1px solid #ccc;
   background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
   width: 1px;
   height: 1px;
   background: white; 
}

.gwt-MenuBar-vertical {
   margin-top: 0px;
   margin-left: 0px;
   background: white;
}

.gwt-MenuBar-vertical table {
   border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
   padding: 5px 40px 5px 5px !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-weight: 300 !important;
   font-size: calc !important;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
   padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
   height: 1px;
   padding: 0px;
   border: 0px;
   border-top: 1px solid #ccc;
   overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
   padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
   background: #E3E8F3;
}

.disabledMenuBar {
   padding: 5px 40px 5px 5px !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-weight: 300 !important;
   font-size: 14px;
   color: #d9d9d9!important;
   cursor: default !important;
}
